<div class="card shadow mt-4">
  <div class="card-body">
    <h1><%= @gossip.title %></h1>
    <p class="text-muted">Publié le : <%= @gossip.created_at.strftime("%d/%m/%Y") %></p>
    <p><%= @gossip.content %></p>
    <p>Auteur : <%= link_to @gossip.author.first_name, "/users/#{@gossip.author.id}", class: "btn btn-outline-dark" %></p>
    <%= link_to "Retour", "/", class: "btn btn-dark" %>
  </div>
</div>
